<!DOCTYPE HTML>
<div class="header">
       <b style="font-size:30px;">L</b>ets<b style="font-size:30px;">G</b>et<b style="font-size:30px;">R</b>eal   
       <div class="dropdown drp">
        <button *ngIf="auth.authenticated() && auth.userProfile" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Hello, {{auth.userProfile.nickname}}
        <span class="caret"></span></button>
        <ul *ngIf="auth.authenticated()" class="dropdown-menu">
             <li><a  [routerLink]="['/profile']" *ngIf="auth.authenticated()">Edit Profile</a></li>
             <li><a class="logout_btn"  (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</a></li>
        </ul>
    </div>
        <button *ngIf="auth.authenticated() && auth.userProfile" class="secondary btn btn-primary" id="middle" type="button" [routerLink]="['/dashboard']" >Dashboard</button>
        <button *ngIf="auth.authenticated() && auth.userProfile" class="secondary btn btn-primary" type="button" [routerLink]="['/explore']">Explore</button>
        <button *ngIf="auth.authenticated() && auth.userProfile" class="secondary btn btn-primary" id="middle" type="button">Categories</button>      
</div>
